body {
    background-color: #121212;
    font: normal 15pt Arial;
    color: #f5f5f5;
}
header {
    font: normal 25pt Arial;
    text-align: center;
    padding: 8px;
}
section {
    /*caixa que vai o circulo*/
    background-color: #212121;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px #2121216b;

}
footer {
    text-align: center;
    font-style: italic;
    color: rgba(245, 245, 245, 0.555);
}
.selected{
    background-color: rgb(128, 128, 128);
}
.completed{
    text-decoration: line-through solid rgb(0, 0, 0);;
}