body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    margin: 80px;
    background-color: #080F24;
}

body span {
    vertical-align: top;
    font-style: italic;
    font-size: 14px;
    position: relative;
    top: -20px;
}

input {
    display: inline-block;
    border-radius: 6px;
    padding: 5px;
    width: 310px;
    border: #fff solid 2px;
}

button {
    border-radius: 6px;
    padding: 5px;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    height: 30px;
}

ol {
    margin-top: 40px;
    margin-left: -30px;
    font-size: 18px;
    color: #fff;
    list-style: none;
    min-height: 320px;
}

li {
    padding: 10px;
    background-color: #060606;
    border-radius: 10px;
    width: 359px;
    cursor: pointer;
    user-select: none;
}

footer {
    margin-left: 180px;
}

#todo {
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    min-height: 450px;
    background-color: #000;
}

#input-box {
    display: block;
    padding: 10px;
    background-color: #060606;
    border-radius: 10px;
    width: 370px;
    position: absolute;
    top: 200px;
}

#criar-tarefa {
    width: 40px;
    background-color: #080F24;
    border: #080F24 solid 1px;
}

#apaga-tudo {
    background-color: #241C08;
    border: #241C08 solid 1px;
}

#remover-finalizados {
    background-color: #240F15;
    border: #240F15 solid 1px;
}

#dark-mode{
    background-color: #080F24;
    border: #080F24 solid 1px;
}

.selected {
    background-color: #080F24;
    color: #fff;
    font-weight: bold;
}

.completed {
    text-decoration: line-through solid rgb(255, 255, 255);
}