body{
    background-color: teal;
}
header{
    margin-left: 30px;
    background-color: white;
    display:block;
    border-radius: 10px;
    padding: 15px;
}
h1{
    font-family:fantasy;
    margin-left: 40px;
}
#funcionamento{
 font-style: italic;
 margin-left: 20px;
}
#texto-tarefa{
    margin-left: 20px;
}
#lista-tarefas{
    margin-left: 20px;
}
#criar-tarefa{
 background-color: aqua;
 border-radius: 15px;
 margin-right: 500px;
 margin-left: 20px;
 float: right;
 color: white;
}
#apaga-tudo{
    border-radius: 15px;
    background-color: brown;
    color: white;
}
#remover-finalizados{
    border-radius: 15px;
    background-color: darkblue;
    color: white;
}
#salvar-tarefas{
    border-radius: 15px;
    background-color: greenyellow;
    color: white;
}
#mover-cima{
    border-radius: 15px;
    background-color: coral;
    color: white;
}
#mover-baixo{
    border-radius: 15px;
    background-color: coral;
    color: white;
}
#remover-selecionado{
    border-radius: 15px;
    background-color: brown;
    color: white;
};
.select{
    background-color: rgb(128,128,128);
}
.cria{background-color: white;

}