.li-estilo {
  background-color: white;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

#texto-tarefa #criar-tarefa {
  display: inline-block;
}
