body {
  background-color: #333;
  color: white;
}

header {
  font-size: 24px;
}

.list {
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: center;
}

#texto-tarefa {
  width: 150px;
  height: 20px;
}

button {
  display: inline-block;
  margin-left: auto;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: black;
  transition: 0.5s;
  background-color: rgb(175, 107, 238);
}

#apaga-tudo {
  background-color: rgb(236, 81, 81);
}

#remover-finalizados {
  background-color: rgb(207, 121, 121);
}

#remover-selecionado {
  background-color: rgb(207, 121, 121);
}

#salvar-tarefas {
  background-color: rgb(101, 192, 106);
}

#mover-cima {
  background-color: rgb(175, 107, 238);
}

#mover-baixo {
  background-color: rgb(175, 107, 238);
}

button:hover {
  background-color: rgb(137, 73, 197);
}

.selected-item {
  background-color: rgb(128, 128, 128)
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}
